* {
  margin: 0;
  /* left: 50px; */
  padding: 0;
}
.logo{
  padding: 0px 64px;
  color: var(--primary-color);
  font-size: 7px;
  
}
body {
  font-size: 16px;
}

.header {
  padding: 10px;
}
.header_text {
  color: #ed425e;
  font-size: 30px;
  margin-right: 40px;
}

.image {

  height: 350px;
  margin: 0;
  margin-top: 3rem;
  /* left: 50px; */
  padding: 0;
  float: right;
  width: 30rem;

}

.login {
  block-size: 20%;
  color: rgb(162, 28, 80);
  outline-color: rgb(162, 28, 80);
  border-radius: 10px;
}

.login:hover {
  background-color: rgba(171, 88, 173, 0.177);
  transform: scale(1.1);
}

.signup {
  block-size: 20%;
  color: rgb(255, 255, 255);
  outline-color: rgb(162, 28, 80);
  background-color: rgb(162, 28, 80);
  border-radius: 10px;
}

.signup:hover {
  transform: scale(1.1);
}

.language {
  block-size: 20%;
  color: rgb(162, 28, 80);
}

.language:hover {
  background-color: rgba(171, 88, 173, 0.177);
  border-radius: 10px;
}

.grey {
  background-color: rgba(213, 210, 210, 0.678);
  box-shadow: 2px;
  height: 78vh;
}

.p {
  display: block;
  /* font-size: 2em; */
  margin-block-start: 1em;
  margin-block-end: 0.67em;
  margin-inline-start: 2em;
  margin-inline-end: 0px;
  font-weight: light;
}
.hover:hover{
  background-color: #ed425e;
}

/* .searchbar {
  background-color: rgb(255, 255, 255);
  height: 55px;
} */

.searchbox {
  text-align: left;
  margin-left: 70px;
  border-radius: 10px;
}

.find {
  color: rgb(255, 255, 255);
  background-color: rgb(162, 28, 80);
  border-radius: 10px;
}

.find:hover {
  transform: scale(1.1);
}

.globe {
  color: black;
}

h4{
  margin: 0px 0px 24px;
  font-size: 30px;
}