:root {
  --primary-color: #ed425e;
}

.food {
  color: var(--primary-color);
  font-size: 30px;
  margin-right: 870px;
  
}

.side_btn .login {
  display: flex;
  align-items: center;
  height: 4vh;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  font-size: 20px;
  padding: 5px 20px 10px;
  color: black;
  border-radius: 10px;
  margin-right: 30px;
}
.login:hover {
  background-color: rgba(171, 88, 173, 0.177);
  transform: scale(1.1);
}

.side_btn .signup {
  display: flex;
  align-items: center;
  height: 4vh;
  background-color: var(--primary-color);
  font-size: 20px;
  padding: 5px 20px 10px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-right: 30px;
}
.signup:hover {
  transform: scale(1.1);
}

.globe {
  margin-right: 30px;
  margin-left: 5px;
}

.bx-chevron-down {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: black;
  background-color: white;
  margin-right: 2vh;
}

.bx-chevron-down:hover {
  color: var(--primary-color);
    background-color: rgba(171, 88, 173, 0.177);
    border-radius: 10px;
}
.bag:hover {
  background-color: rgba(171, 88, 173, 0.177);
  border-radius: 100vh;
}